@model MVC___complete_architecture.Models.Tutorial

@{
    ViewBag.Title = "Create Tutorial";
}

<form method="post" asp-controller="Tutorial" asp-action ="CreateTutorial">
   
    @*Partial tag helper*@
    <partial name="_TutorialFormFields" model="Model"/>

</form>

@section Scripts
{
    <partial name="_ValidationScriptsPartial" />
}