@model IEnumerable<MVC___complete_architecture.Models.Tutorial>

    @{
        ViewData["Title"] = "Title - Tutorial";

    }
    
    <a class="text-dark btn btn-primary mt-3" asp-area="" asp-contorller="Tutorial" asp-action="CreateTutorial">Add new Tutorial</a>
    
    <table class="table">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Description</th>
        </tr>
        
        
        @foreach (var tutorial in Model)
        {
            <tr>
                <th>@tutorial.Id</th>
                <th>@tutorial.Name</th>
                <th>@tutorial.Description</th>
            </tr>
        }


    </table>